// app styling

@import 'mixins'

color1 = #10073d
color2 = hue((color1 + 50%), 0deg)

body
  align-items center
  background-color color1
  color color2
  display flex
  flex-direction column
  height 250px
  justify-content center
  margin auto
  max-width 50%
  padding 10%

pre
  background-color color2
  border-radius 5px
  color color1
  padding 10px

#svg-foot, #svg-text > *
  fill color2 !important

*+*
  margin-top 5%
