doctype html

html(lang=lang)
  include ./partials/head.jade

  body
    include assets/foot.svg

    ol
      li Local variables can be found inside the brunch config file:
        pre= url.brunch

      li The main HTML (what you're reading right now) can be changed by editing:
        pre= url.jade

      li The main stylesheet is located at:
        pre= url.styl

      li The main coffeescript file is located at:
        pre= url.coffee

      li You can install packages with bower like so (inside the base directory):
        pre bower install --save
          i  packagename
